body, html, #main-content {
	height: 100%;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#main-banner {
	width: 100%;
	height: 100%;
	background: url(/img/main-banner-bg.jpg);
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}

#silent-sanctuary {
	width: 100%;
	height: 100%;
	background: url(/img/silent-sanctuary-bg.jpg);
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}

#silent-sanctuary h1, #silent-sanctuary p {
	color: white;
}

#silent-sanctuary section{
	margin-top: 6%;
}

.main-banner-content {
	position: absolute;
	top: 6%;
	width: 100%;
}

.banner-link, .banner-logo, dd a {
	text-align: center;
}

.banner-link a {
	background: #d25858;
	color: white!important;
	padding: 7px 19px!important;
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	border-radius: 50%;
	border: 2px solid white!important;
	transition: background-color 300ms ease-out;
}

.banner-link a:hover {
	background: white;
}

.banner-link a:hover i {
	color: #d25858;
}

.section-container {
	min-height: 100%;
	padding: 20px 0px;
}

dd {
width: 100%;
margin: 0!important;
}

.sub-nav {
	margin: 0;
}

[data-magellan-expedition] {
	width: 100%;
	position: relative;
}

[data-magellan-expedition] a {
	border-color: black;
	color: black;
}

dd.active a {
	border-color: #008cba!important;
	color: white!important;
	border-radius: 0!important;
}


dd.active a:hover {
	color: #0078a0!important;
}

.main-nav {
	background: transparent;
}

.main-nav .on-scroll {
	display: none;
}

.main-nav .before-scroll {
	display: block;
}

.fixed {
	background: rgb(237, 237, 237);
	transition: background-color 600ms ease-out;
}

.fixed .before-scroll {
	display: none;
}

.fixed .on-scroll {
	display: block;
	z-index: 10;
}

.fixed a {
	padding: 0!important;
	border: 1px solid!important;
	font-weight: 300!important;
}

.fixed a:hover, .to-top:hover {
	color: #0078a0!important;
	border-color: #0078a0!important;
	background: transparent!important;
}

.fixed .sub-nav{
	padding: 20px;
}

.fixed a {
	background: #d25858;
	color: white!important;
	padding: 10px 20px!important;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300!important;
	-webkit-font-smoothing: antialiased;
	display: block;
}

.to-top .fa {
	margin: 0;
	color: white;
	font-size: 20px;
}

.to-top {
	text-align: center;
}

.to-top:hover .fa {
	color: #0078a0!important;
}


#silent, #front, #rac, #sponsors {
	position: relative;
	top: -105px!important;
	}

.slick-prev {
	left: 10px!important;
}

.slick-next {
	right: 10px!important;
}

.slick-dots li button:before {
	color:gray;
}

.slick-dots li.slick-active button:before {
	color:white;
}
