body, html, #main-content {
	height: 100%;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

#main-banner {
	width: 100%;
	height: 100%;
	background: black url(/assets/img/main-banner-bg-2.jpg);
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}

#silent-sanctuary {
	width: 100%;
	min-height: 100%;
	background: url(/assets/img/silent-sanctuary-bg.jpg);
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}

.center {
	text-align: center;
}

#silent-sanctuary h1 {
	color: white;
	font-family: "Indie Flower", cursive;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	font-size: 66px;
	text-shadow: 3px 10px rgba(255, 255, 255, 0.14);
}

#silent-sanctuary p{
	color: rgba(255, 255, 255, 0.69);
}


#silent-sanctuary section{
	margin-top: 4%;
}

.main-banner-content {
	position: absolute;
	top: 6%;
	width: 100%;
}

.banner-logo, dd a {
	text-align: center;
}

hr {
	margin: 10px 0;
	border-top: dotted white 1px;
}

.p-italic {
	font-style: italic;
	font-weight: bold;
}

.banner-link i{
	background: #d25858;
	border-radius: 50%;
	font-size: 26px;
	color: white;
	height: 60px;
	width: 60px;
	line-height: 64px;
	transition: background-color 300ms ease-out;
	margin-top: -28px;
}

.banner-link:hover i {
	background: white;
}

.banner-link:hover i {
	color: #d25858;
}

.section-container {
	min-height: 100%;
	padding: 20px 0px;
}

dd {
width: 100%;
margin: 0!important;
}

.sub-nav {
	margin: 0;
	overflow: visible;
}

[data-magellan-expedition] {
	width: 100%;
	position: relative;
}

[data-magellan-expedition] a {
	border-color: black;
	color: black;
}

dd.active a {
	border-color: #008cba!important;
	color: white!important;
	border-radius: 0!important;
}


dd.active a:hover {
	color: #0078a0!important;
}

.main-nav {
	background: transparent;
		z-index: 99999;
		padding:0;
}

.main-nav .on-scroll {
	display: none;
}

.fixed {
	background: rgb(237, 237, 237);
	transition: background-color 600ms ease-out;
	padding: 0;
}

.fixed .on-scroll {
	display: block;
	z-index: 10;
}

.main-nav.fixed .sub-nav a {
	padding: 0!important;
	border: 1px solid!important;
	font-weight: 300!important;
}

.main-nav.fixed .sub-nav a:hover, .to-top:hover {
	color: #0078a0!important;
	border-color: #0078a0!important;
	background: transparent!important;
}

.main-nav.fixed .sub-nav{
	padding: 20px;
}

.main-nav.fixed .sub-nav a {
	background: #d25858;
	color: white!important;
	padding: 10px 20px!important;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300!important;
	-webkit-font-smoothing: antialiased;
	display: block;
}

.to-top .fa {
	margin: 0;
	color: white;
	font-size: 20px;
}

.to-top {
	text-align: center;
}

.to-top:hover .fa {
	color: #0078a0!important;
}

.social-icons {
font-size: 52px;
color: white;
margin-right: 20px;
}

#silent, #front, #rac, #sponsors {
	position: relative;
	top: -80px!important;
	}

.slick-prev {
	left: 10px!important;
}

.slick-next {
	right: 10px!important;
}

.slick-dots li button:before {
	color:gray!important;
}

.slick-dots li.slick-active button:before {
	color:white!important;
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
     z-index: 1;
}

/*Silent Sanctuary Section*/
#silent-banner {
	-vendor-animation-delay: .6s!important;
    -webkit-animation-delay: .6s; /* Chrome, Safari, Opera */
    animation-delay: .6s;
}

.ss-banner {
	-vendor-animation-delay: 1s!important;
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

.ss-text {
	-vendor-animation-delay: 1.4s!important;
    -webkit-animation-delay: 1.4s; /* Chrome, Safari, Opera */
    animation-delay: 1.4s;
}

.banner-logo img {
	-vendor-animation-delay: .8s!important;
    -webkit-animation-delay: .8s; /* Chrome, Safari, Opera */
    animation-delay: .8s;
}

.banner-link i{
	-vendor-animation-delay: 1.1s!important;
    -webkit-animation-delay: 1.1s; /* Chrome, Safari, Opera */
    animation-delay: 1.1s;
}

.first-p {
	-vendor-animation-delay: .3s!important;
    -webkit-animation-delay: .3s; /* Chrome, Safari, Opera */
    animation-delay: .3s;
}

.second-p {
	-vendor-animation-delay: .5s!important;
    -webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
    animation-delay: .5s;
}

.third-p {
	-vendor-animation-delay: .7s!important;
    -webkit-animation-delay: .7s; /* Chrome, Safari, Opera */
    animation-delay: .7s;
}

.fourth-p {
	-vendor-animation-delay: .9s!important;
    -webkit-animation-delay: .9s; /* Chrome, Safari, Opera */
    animation-delay: .9s;
}

.mobile-nav {
	display: none;
}

.mobile-nav {
	background: #d25858;
}

.mobile-nav li {
	background: #d25858!important;
}

.top-bar.expanded .menu-icon a {
	color: white!important;
}

.gallery-slides img {
	margin-right: 5px;
}

.clearing-thumbs li {
	margin: 0;
}

.panel {
	background: #C83A3A;
	border: 0;
}

.panel p, .panel h3, .panel h5 {
	color: white;
}

/* MEDIA QUERIES */

/* Small screens */
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 
	.fixed .mobile-nav {
		display: block;
		}

	.fixed .sub-nav {
		display: none;
		}

	#main-banner {
		background: url(/assets/img/mobile-banner-bg.jpg);
		background-size: cover!important;
		background-position: bottom!important;
		background-attachment: scroll!important;
		}

	#silent, #front, #rac, #sponsors {
		position: relative;
		top: -40px!important;
		}

	#silent-sanctuary h1 {
		font-size: 34px;
		}
	} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

